<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!--<dllmap dll="python3.6m" target="/Users/fankainang/anaconda3/lib/libpython3.6m.dylib" os="!windows"/> -->
<dllmap dll="python3.6m" target="/usr/local/Cellar/python/3.7.5/Frameworks/Python.framework/Versions/3.7/lib/libpython3.7.dylib" os="!windows"/>
</configuration>
